<div id='board'>
  <div class='overlay'>
    <div class='a1' data-type='undefined'></div>
    <div class='a2' data-type='undefined'></div>
    <div class='a3' data-type='undefined'></div>
    <div class='b1' data-type='undefined'></div>
    <div class='b2' data-type='undefined'></div>
    <div class='b3' data-type='undefined'></div>
    <div class='c1' data-type='undefined'></div>
    <div class='c2' data-type='undefined'></div>
    <div class='c3' data-type='undefined'></div>
  </div>
</div>