<div id='information'>
  <div class='marker'>
    <div data-translate='game.youMarker'></div>
    <span></span>
  </div>

  <div class='timer'>
    <div id="progress_radial">
      <div class='overlay'>0</div>
    </div>
  </div>

  <div class='message'></div>
</div>


