<div id='points'>
  <div class='action' data-action='undefined'></div>
  <div class='user' data-name='undefined'></div>

  <div class='player_one'>
    <img src='#'/>
    <span class='name'></span>
    {{> scores}}
  </div>

  <div class='player_two'>
    <img src='#'/>
    <span class='name'></span>
    {{> scores}}
  </div>
</div>

<div id='player'></div>