<ul>
  <li class='wins'>
    <span class='point'>0</span>
    <span class= 'describe'>
      <div data-translate='game.wins'></div>
    </span>
  </li>
  <li class='draws'>
    <span class='point'>0</span>
    <span class= 'describe'>
      <div data-translate='game.draws'></div>
    </span>
  </li>
  <li class='loss'>
    <span class='point'>0</span>
    <span class= 'describe'>
      <div data-translate='game.loss'></div>
    </span>
  </li>
</ul>