footer.bottom
  .socials
    .facebook
      .fb-like(data-href='http://velhamania.com.br' data-width='20' data-layout='button_count' data-action='like' data-show-faces='false' data-share='true')

  .info
    div(data-translate='footer.developedBy')
    a(href='http://www.linkedin.com/pub/saulo-silva-santiago/33/b26/1a0' title='about-me' target='_blank')
      |  Saulo S Santiago

    span.skype
      | saulo.desenv