script(type='text/javascript', src='/javascripts/velha_mania.js')
script(type='text/javascript')
  VelhaMania.FacebookShared()
  $(document).ready(function() {
    VelhaMania.App()
  })

block javascript