@import nib
global-reset()

html, body
  background color-blue
  height 100%
  font-family latoregular
  font-size 16px
  @media screen and (min-width:720px), screen and (max-width:800px)
    min-width 770px

a
  color color-write
  text-decoration none

#container
  overflow hidden

.load
  background url('/images/load.gif')
  height 40px
  width 140px
  position absolute
  top 42%
  left: 42%