border = (border-size / 2)
margin = (margin-size / 2)
padding = (padding-size * 5)

.controller
  overflow hidden
  padding 0 (padding-size * 2)

#points
  float left
  overflow hidden

.player_one
  margin-right margin

.player_two
  margin-left margin

.player_one, .player_two
  background color-write
  float left
  width 210px
  img
    vertical-align middle
    width 50px
    height 55px
  span.name
    display inline-block
    margin-left margin-size
    text-transform uppercase
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    width 139px

  ul
    overflow hidden
    margin (padding-size * 0)
    padding (padding-size * 0)
    li
      color color-write
      float left
      width 70px
      list-style none
      &.wins
        background color-green
      &.draws
        background color-blue-darken
      &.loss
        background color-red

      span
        clear both
        display block
        text-align: center
        &.point
          padding-top padding
          font-size (font-medium * 2)
        &.describe
          padding-bottom padding
          font-size font-small

#information
  background darken(color-blue-darken, 20%)
  margin margin-size 0
  padding 0 (padding-size * 2)
  position relative
  overflow hidden
  div
    color: color-write

  .timer
    position absolute
    left 50%

  .marker, .message
    padding padding 0

  .marker
    float left
    span
      font-family angelinaregular
      font-size (font-big + 5)
      font-weight bold
      margin-left margin

  .message
    float right

span.message
  display none

.exit
  color color-red
  cursor pointer
  font-size font-small
  position absolute
  bottom -181px
  right 7px

#board
  width 100%
  height 100%
  background lighten(color-blue-lighten, 50%)
  padding (padding-size * 2) 0
  .overlay
    margin 0 auto
    div
      user-select(none)
      cursor pointer
      width 32%
      height 32%
      float left
      font-family angelinaregular
      text-align center
      @media screen and (max-height: 430px)
        font-size 5rem
        line-height 132%
      @media screen and (min-height: 620px)
        font-size 9rem
        font-size 11rem
        line-height 114%

    div[data-type='X']
      color #3D4E7E
    div[data-type='O']
      color #444444
    .a1, .a2, .b1, .b2
      border-right border solid color-blue-darken
      border-bottom border solid color-blue-darken

    .c1, .c2
      border-right border solid color-blue-darken

    .a3, .b3
      border-bottom border solid color-blue-darken
