footer
  background color-blue-lighten
  .socials
    float left
    padding-top padding-size * 4
    .facebook
      overflow: hidden
    span
      display inline-block
      margin 0 (margin-size / 2)

  .info
    float right
    font-size font-medium
    font-weight bold
    padding (padding-size * 1.5) 0 0 0
    margin-right (margin-size / 2)
    a
      color color-black
      &:hover
        text-decoration underline
    span
      skype-mini-ico()
      display block
      font-size font-small
      padding padding-size 0 0 (padding-size * 8)
      margin-top (margin-size / 2)