h1
  text-align: center
  font-size: font-big
  color color-gray
  margin-top margin-size * 2

form
  background color-blue-darken
  width 350px
  padding padding-size * 6
  margin: margin-size * 2 auto

  form input::-webkit-validation-bubble-message,
  form select::-webkit-validation-bubble-message,
  form textarea::-webkit-validation-bubble-message
    display none

  label, input[type='email'], input[type='text']
    margin-bottom margin-size * 2

  input[type='email'], input[type='text']
    width 180px
    height 26px
    border none
    float left
    margin-left margin-size
    padding 0 padding-size * 3
    &.invalid
      background color-red-lighten

  input[name='user[birthdate]']
    width 66px

  label
    color color-gray
    width 134px
    display block
    text-align right
    float left
    line-height 26px

  div
    position relative
    overflow hidden
    span.message
      position absolute
      top 8px
      left 263px
      font-size font-small
      color color-red

  .buttons_group
    clear both
    margin margin-size * 2 auto
    width 100%
    height 40px
    button
      color color-write
      background color-green
      cursor pointer
      font-weight bold
      width 100%
      height 100%
      border none