header
  background color-blue-darken
  overflow hidden
  h1
    color color-gray
    font-family brian_caryregular
    font-size h1-font-size
    font-weight normal
    line-height 40px
    margin margin-size auto
    width 250px
    &:before
      tic-toe()
      content ' '
      display block
      float left