.button_group
  color color-write
  font-size font-medium
  height 90px
  margin margin-size * 16 auto
  position relative
  text-align center
  overflow hidden
  width 340px
  a
    color color-write
    &:before
      content ' '
      float left
      height 39px
      position absolute
      top: 15px

  .facebook, .cj
    transition: all 0.5s ease
    display block
    height 90px
    line-height 140px
    float left
    width 170px
    &:hover
      box-shadow: inset 0 0 border-size color-black-shadow
      span
        transition: all 0.5s ease
        box-shadow: 0 0 border-size color-black-shadow
    &:active
      box-shadow: inset 0 0 border-size color-black-shadow

  .facebook
    background color-blue-darken
    &:before
      facebook()
      left: 22%
    &:hover
        background color-blue-darken

  .cj
    background color-orange-lighten
    &:before
      clickjogos()
      left: 68%
    &:hover
      background color-orange

  span
    background color-blue-darken
    border-radius(50%)
    border border-size solid color-orange-lighten
    height 30px
    line-height 30px
    left 43%
    position absolute
    top 22px
    width 30px