#modal
  background color-black-shadow
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  .box
    background color-write
    width 320px
    margin 0 auto
    position relative
    top 30%
    padding (padding-size * 5) (padding-size * 10)

  .time_content
    width 56px
    margin 0 auto
    .overlay
      background color-blue
      console-play(false, -5px, -10px)

  h2
    font-size font-big
    padding padding-size * 3
    text-align center

  p
    font-size font-small
    padding padding-size * 2
    text-align center

  .buttons_group
    margin 0 auto
    padding padding-size * 2
    width 184px
    text-align center

    button
      width 80px
      height 40px
      border none
      color color-write
      font-size (font-small * 1.5)
      margin (margin-size / 2)

    button[type='yes'], button[type='ok']
       background color-green

    button[type='no']
       background color-red