#player
  background color-write
  float right
  font-size font-small
  width 296px
  overflow hidden
  padding (padding-size * 2) (padding-size * 2)

  .timer
    margin margin-size 0
    overflow hidden
    float right
    .current_time, span, .total_time
      float left

    span, .total_time
      margin-left 5px

  .progress_bar
    clear both

  .controls, .volumes
    overflow hidden
    position relative
    width 148px
    margin margin-size 0
    float left

  .next, .prev, .decrease_volume, .increase_volume
    background color-blue
    margin: (margin-size + 5) (margin-size * 2 + 2)

  .play, .pause, .mute
    background color-blue-darken
    position absolute
    left 30%

  .next, .prev, .play, .pause, .mute, .decrease_volume, .increase_volume
    border-radius(50%)
    user-select(none)
    cursor pointer
    float left
    text-indent 9999px

  .play
    play(true, -1px)
    &:hover
      play-hover(true, -1px)
    &:active
      play-active(true, -1px)

  .pause
    pause(true, -1px)
    &:hover
      pause-hover(true, -1px)
    &:active
      pause-active(true, -1px)

  .next
    next()
    &:hover
      next-hover()
    &:active
      next-active()

  .prev
    prev()
    &:hover
      prev-hover()
    &:active
      prev-active()

  .increase_volume
    increase-volume()
    &:hover
      increase-volume-hover()
    &:active
      increase-volume-active()

  .decrease_volume
    decrease-volume()
    &:hover
      decrease-volume-hover()
    &:active
      decrease-volume-active()

  .mute
    mute()
    &:hover
      mute-hover()
    &:active
      mute-active()