progress-bar-color = color-blue-lighten
progress-overlay-color = color-blue
progress-back-color = color-blue-darken
progress-with-border = true
progress-border-size = 2px
progress-radial-size = 60px
progress-overlay-size = 50px
progress-overlay-margin-size = ((progress-radial-size - progress-overlay-size) / 2)

#progress_radial, #modal_progress_radial
  border-radius(50%)
  position relative
  width progress-radial-size
  height progress-radial-size
  background-color progress-bar-color

  if progress-with-border is true
    border progress-border-size solid progress-back-color

  transition: background-image 0.5s ease

  .overlay
    border-radius(50%)
    position absolute
    width progress-overlay-size
    height progress-overlay-size
    line-height progress-overlay-size
    background-color progress-overlay-color
    margin-left progress-overlay-margin-size
    margin-top progress-overlay-margin-size
    text-align center

interator = 30
step = floor(100 / interator)
loops = floor(100 / step)
increment = 360 / loops
half = floor(loops / 2)

for i in (0..loops)
  .progress_{ i * step }
    if i < half
      nextdeg = 90deg + (increment * i)
      background-image: linear-gradient(90deg, progress-back-color 50%, transparent 50%, transparent), linear-gradient(nextdeg, progress-bar-color 50%, progress-back-color 50%, progress-back-color)
    else
      nextdeg = -90deg + (increment * (i - half))
      background-image: linear-gradient(nextdeg, progress-bar-color 50%, transparent 50%, transparent), linear-gradient(270deg, progress-bar-color 50%, progress-back-color 50%, progress-back-color)
