#room
  background color-write
  color color-black-lighten
  margin (margin-size * 2) auto
  width 50%
  h3
    text-align center
    padding (padding-size * 4) 0
    font-size (font-small * 2)
    background color-gray
    span
      color color-black

  ul
    max-height 600px
    overflow: auto
    li
      user-select(none)
      font-size (font-small * 2)
      border-bottom 1px solid color-black-shadow-soft
      cursor pointer
      margin 0 auto
      padding (padding-size * 2) 0
      width 100%
      &:hover
        text-decoration underline

      &:hover, &.wait
        text-decoration none
        img
          opacity(0.9)
          border (border-size / 2) solid (color-black-shadow-soft + color-black-shadow-soft)


      &.wait
        a
          ellipsis()
          display inline-block
          color color-black-lighten
          font-size font-small
          margin-left (margin-size * 2)
          width 160px
          &:hover
            text-decoration underline

      img
        border-radius(50%)
        opacity(0.3)
        border (border-size / 2) solid color-black-shadow-soft
        margin 0 (margin-size * 2)
        vertical-align middle

  #matches
    background color-gray
    padding (padding-size * 3) 0
    text-align center
    width 100%
    b
      font-size font-small
      span
        color color-black
        font-weight bold