!!!5
html
  head
    title Velha Mania - Callback
    link(rel='stylesheet', href='/stylesheets/velha_mania.min.css')

  body
    #fb-root
    #root
      #container
        block content

    include shared/_js_files