!!!5
html
  head
    title Velha Mania
    link(rel='stylesheet', href='/stylesheets/velha_mania.min.css')

    meta(content="text/html charset=utf-8" http-equiv="Content-Type")
    meta(content="width=device-width" name="viewport")
    meta(content="width=device-width" initial-scale=1.0 user-scalable=no minimum-scale=1.0 maximum-scale=1.0 name="viewport")

    meta(name='description' content='Jogo da velha multiplayer grátis')

    meta(content="Velha Mania" property="og:title")
    meta(content="http://velhamania.com.br/images/logo.jpg" property="og:image")
    meta(content="Jogo da velha multiplayer grátis" property="og:description")
    meta(content="http://velhamania.com.br/" property="og:url")
    meta(content="velhamania" property="og:site_name")
    meta(content="game" property="og:type")

  body
    #fb-root

    #root
      include shared/_header

      #container
        block content

    include shared/_footer
    include shared/_js_files