extends ../layout_callbacks
block content
  .load

block javascript
  script(type='text/javascript')
    $(document).ready(function () {
      window.opener.Events.afterLogin()
      window.close()
    })