extends ../layout_callbacks
block content

  h1
    div(data-translate='facebook.message')

  form(action='/user/save/', method='post' novalidate)
    .inputs
      div
        input(type='hidden', name='user[nickname]', value='')
        label
          div(data-translate='facebook.email')

        input(type='email', name='user[email]', value='')
        span.message

      div
        input(type='hidden', name='user[gender]', value='')

        label
          div(data-translate='facebook.birthdate')
        input(type='text', name='user[birthdate]', value='')
        span.message

      input(type='hidden', name='user[avatar]', value='')
      input(type='hidden', name='user[providers][name]', value='')
      input(type='hidden', name='user[providers][uid]', value='')

    .buttons_group
      button
        div(data-translate='facebook.send')

block javascript
  script(type='text/javascript')
    $(document).ready(function () {
      VelhaMania.FbCallback()
    })