extends ../layout
block content
  .button_group
    a.facebook(href="#")
      div(data-translate='home.loginFacebook')

    span
      div(data-translate='home.or')

    a.cj(href="#")
      div(data-translate='home.loginCj')


block javascript
  script(type='text/javascript')
    VelhaMania.Login()