clickjogos(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (0px + y-offset) transparent
  if sizes is true
    width 39px
    height 39px
console-play(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-41px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
decrease-volume(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-103px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
decrease-volume-active(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-135px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
decrease-volume-hover(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-167px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
facebook(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-199px + y-offset) transparent
  if sizes is true
    width 20px
    height 39px
increase-volume(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-240px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
increase-volume-active(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-272px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
increase-volume-hover(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-304px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
mute(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-336px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
mute-active(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-398px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
mute-hover(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-460px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
next(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-522px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
next-active(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-554px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
next-hover(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-586px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
pause(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-618px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
pause-active(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-680px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
pause-hover(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-742px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
play(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-804px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
play-active(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-866px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
play-hover(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-928px + y-offset) transparent
  if sizes is true
    width 60px
    height 60px
prev(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-990px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
prev-active(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-1022px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
prev-hover(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-1054px + y-offset) transparent
  if sizes is true
    width 30px
    height 30px
skype-mini-ico(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-1086px + y-offset) transparent
  if sizes is true
    width 21px
    height 20px
tic-toe(sizes=true, x-offset=0, y-offset=0, repeat=no-repeat)
  background url('/images/img-8c417.png') repeat (0px + x-offset) (-1108px + y-offset) transparent
  if sizes is true
    width 60px
    height 38px
