default-size = 10px

color-black = #000
color-write = #fff
color-gray = #F8F8F8
color-blue = #4965b5
color-orange = #E97810
color-red = #fb5240
color-green = #36c77b

color-red-lighten = lighten(color-red, 80%)
color-write-lighten = lighten(color-write, 80%)
color-gray-darken = darken(color-gray, 15%)
color-blue-darken = darken(color-blue, 30%)
color-blue-lighten = lighten(color-blue, 30%)
color-orange-lighten = lighten(color-orange, 30%)
color-black-lighten = lighten(color-black, 50%)
color-black-shadow = rgba(0, 0, 0, 0.5)
color-black-shadow-soft = rgba(0, 0, 0, 0.05)

font-small = 10px
font-medium = operate('+', font-small, 5)
font-big = operate('+', font-medium, 5)
h1-font-size = operate('+', font-big, 5px)

border-size = default-size
margin-size = default-size
padding-size = 4px