extends ../layout
block content
  #room
  #display_game

block javascript
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript')
    var socket = io.connect(location.host);
    VelhaMania.Room()