<div id='modal' class='alert'>
  <div class='box'>
    <h2>
      <div data-translate='buttons.fyi'></div>
    </h2>

    <p> {{ message }} </p>

    <div class='buttons_group'>
      <button type='ok'>
        <div data-translate='buttons.ok'></div>
      </button>
    </div>
  <div>
</div>

<script type="text/javascript">
  screenTop()
  scrollLock()
  var modal = VelhaMania.Modal();

  $("button[type='ok']").click(function (e) {
    e.preventDefault()
    scrollUnlock()
    modal.ok()
  })

  l.i18n()
</script>