<div id='modal' class='confirmation'>
  <div class='box'>
    <div class='time_content'>
      <div id="modal_progress_radial">
        <div class='overlay'></div>
      </div>
    </div>

    <h2>
      <div data-translate='buttons.confirmation'></div>
    </h2>

    <p> {{ message }} </p>

    <div class='buttons_group'>
      <button type='yes'>
        <div data-translate='buttons.yes'></div>
      </button>

      <button type='no'>
        <div data-translate='buttons.no'></div>
      </button>
    </div>
  <div>
</div>

<script type="text/javascript">
  screenTop()
  scrollLock()
  var modal = VelhaMania.Modal();

  timer.init({ type: 'interval:asc' })
  timer
    .on('hit:asc', function (hit) {
      var selector = $('#modal_progress_radial'),
        klass = 'progress_' + (hit * Math.floor(100/30));

      selector.removeClass()
      selector.addClass(klass)
    })
    .on('done', function () {
      scrollUnlock()
      modal.rejected()
    })

  $("button[type='yes']").click(function (e) {
    e.preventDefault()
    scrollUnlock()
    timer.stop()
    modal.accepted()
  })

  $("button[type='no']").click(function (e) {
    e.preventDefault()
    scrollUnlock()
    timer.stop()
    modal.rejected()
  })

  l.i18n()
</script>