<div class='content'>
  <div class='timer'>
    <div class= 'current_time'></div>
    <span>/</span>
    <div class= 'total_time'></div>
  </div>

  <div class= 'progress_bar' style='border: 1px solid; width: 293px; height: 1px; background: #000'>
    <div class='slider' style='boder: 1px solid; width: 0; height: 1px; background: #ff0000'></div>
  </div>

  <div class='controls'>
    <div class='prev'>anterior</div>
    <div class='play'>play</div>
    <div class='pause' style='display: none'>pausar</div>
    <div class='next'>próxima</div>
  </div>

  <div class='volumes'>
    <div class='decrease_volume'>diminuir</div>
    <div class='mute'>mudo</div>
    <div class='increase_volume'>aumentar</div>
  </div>
</div>